body{
    background-color: green;

    margin:2px;
}
/*navigator*/
.navigator{
    width:100%;
    height: 100px;
    background-color: blueviolet;
   
}
.navigator tr, td{
    vertical-align:middle;
    border:10px, solid, black ;
 
}


#header-discord-logo{
    margin-right: 5px;
    
    
}
#discord-title{
  
   
   
}

#header-login-button{
    margin-right:20px;
    height:40px;
    width:60px;
    border-radius: 20px;
    border-style:none;
    float:right;
    
}

svg{
    float:right;
    margin-right:30px;
    
}